html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

.title-site {
  display: flex;
  justify-content: center;
}

.title-todo {
  margin: 0px;
  display: flex;
  justify-content: center;
}

#todo-input {
  margin-right: 10px;
}

.all-todo-input {
  display: flex;
  justify-content: center;
}

#todo-element {
  display: grid;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  width: 100px;
  height: 70px;
  padding: 0px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr;
}
